*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  position: relative;
  height: 160px;
  line-height: 180px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-tabs {
  position: relative;
  margin: 2em auto;
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs-navigation li {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0px;
}

.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);

}

  .cd-tabs nav {
	width: 100%;
    position: relative;
    float: none;
    background: #f8f7ee;
    box-shadow: none;
  }
}

.cd-tabs-navigation {
  width: 100%;
  margin: 0 auto;
  padding-top: 100%;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  text-align: center;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #c3c2b9;
  padding: 34px 0px 34px 0px;
  text-decoration: none !important;
}

.no-touch .cd-tabs-navigation a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
}
.cd-tabs-navigation a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 4px 0 #2ea2cc;
  color: #29324e;
  padding-bottom: 32px !important;
}
.cd-tabs-navigation a::before {
  /* icons */
  position: absolute;
  top: 12px;
  left: 2%;
  margin-left: -10px;
  display: inline-block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
}
.cd-tabs-navigation a[data-content='settings']::before {
  background-position: 0 0;
}
.cd-tabs-navigation a[data-content='faq']::before {
  background-position: -20px 0;
}
.cd-tabs-navigation a[data-content='credits']::before {
  background-position: -40px 0;
}
.cd-tabs-navigation a[data-content='donate']::before {
  background-position: -60px 0;
}
.cd-tabs-navigation a[data-content='changelog']::before {
  background-position: -80px 0;
}
.cd-tabs-navigation a[data-content='myplugins']::before {
  background-position: -100px 0;
}
.cd-tabs-navigation a[data-content='settings'].selected::before {
  background-position: 0 -20px;
}
.cd-tabs-navigation a[data-content='faq'].selected::before {
  background-position: -20px -20px;
}
.cd-tabs-navigation a[data-content='credits'].selected::before {
  background-position: -40px -20px;
}
.cd-tabs-navigation a[data-content='donate'].selected::before {
  background-position: -60px -20px;
}
.cd-tabs-navigation a[data-content='changelog'].selected::before {
  background-position: -80px -20px;
}
.cd-tabs-navigation a[data-content='myplugins'].selected::before {
  background-position: -100px -20px;
}


.cd-tabs-navigation li {
  float: left;
  width: 16.6%;
  margin: 0px;
}
  .cd-tabs-navigation a.selected {
    box-shadow: inset 0 4px 0 #2ea2cc;
  }
  .cd-tabs-navigation a::before {
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
    left: 38px;
  }

.cd-tabs-content {
  background: #ffffff;
  margin-top: 20px;
}
.cd-tabs-content li {
  display: none;
  padding: 1.4em;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  line-height: 1.6;
  margin-bottom: 2em;
}


  .cd-tabs-content {
    min-height: 0;
  }
  .cd-tabs-content li {
    padding: 3em;
  }
  .cd-tabs-content li p {
  fot-size: 0.9em;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ul {
margin: 0px;
  }